<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Postcode Specific Property Forecasting
    </h1>

    <h1><a href="index/chart1">House Price Index Forecast</a></h1>
    <h1><a href="index/chart2">Price Forecast</a></h1>

    <h1 style="background:lightblue;padding:10px">
            Generate Forecast from 5 years ago (investigate the performance of the model)
    </h1>
    <h1><a href="index/chart3">House Price Index Forecast From 5 years ago</a></h1>
    <h1><a href="index/chart4">Price Forecast From 5 years ago</a></h1>

</body>
</html>